#map
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.leaflet-control-layers-list span
{
  font-size: 20px;
}

.leaflet-control-layers-selector
{
  transform: scale(1.5);
}

.leaflet-control-layers-list
{
  width:40vw;
  padding:0;
}

.leaflet-control-layers-overlays
{
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3, 1fr);
  margin:0;
  gap: 5px 5px;
}

.leaflet-control-layers-overlays label
{
  margin:0;
  border: solid 1px black;
  border-radius: 2px;
  height: 40px;
  display:block;
}

.leaflet-control-layers-overlays label {
    position:relative;
    cursor:pointer;
}
.leaflet-control-layers-overlays label [type="checkbox"] {
    display:none;
}




.leaflet-control-layers-overlays span
{
  background:#e6e6e6;
  color: #2e2e2e;
  display: block;
  width:100%;
  height:100%;
  text-align:center;
  font-size: 25px;
  line-height: 40px;
}

.leaflet-control-layers-overlays :checked + span {
    background:#3b3b3b;
    color: #e6e7eb;
    display: block;
    width:100%;
    height:100%;
    text-align:center;
    font-size: 25px;
    line-height: 40px;
}
