body
{
  background-color:black;
}


 .round {
	 border-radius: 100%;
}
 .center {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 -webkit-transform: translate(-50%, -50%);
	 -moz-transform: translate(-50%, -50%);
	 box-sizing: border-box;
}
 #board {
	 width: 150px;
	 height: 150px;
	 background: white;
	 border: 4px solid black;
	 overflow: hidden;
	 box-shadow: inset 0 0 0 12px red;
}
 #pointer {
	 z-index: 1;
}
 #knot {
	 width: 20px;
	 height: 20px;
	 background: black;
	 z-index: 2;
}
 #arm {
	 width: 82px;
	 height: 5px;
   border: solid black 1px;
	 background: red;
	 transform: translate(-85%, -50%) rotate(-41.999deg);
	 -webkit-transform: translate(-85%, -50%) rotate(-41.999deg);
	 -moz-transform: translate(-85%, -50%) rotate(-41.999deg);
	 border-radius: 80% 6px 6px 80%;
	 transform-origin: 85% 50%;
	 -webkit-transform-origin: 85% 50%;
	 -moz-transform-origin: 85% 50%;
	 transition: transform 14s;
}
 #speed:hover ~ #board #pointer #arm {
	 transform: translate(-85%, -50%) rotate(62deg);
	 -webkit-transform: translate(-85%, -50%) rotate(62deg);
	 -moz-transform: translate(-85%, -50%) rotate(62deg);
	 transition: transform 7s;
}
 #brake:hover ~ #board #pointer #arm {
	 transform: translate(-85%, -50%) rotate(-42deg);
	 -webkit-transform: translate(-85%, -50%) rotate(-42deg);
	 -moz-transform: translate(-85%, -50%) rotate(-42deg);
	 transition: transform 3s;
}
 .bar {
	 width: 150px;
	 height: 1.3076923077px;
}
 .bar:nth-of-type(4n+1) {
	 height: 2.6153846154px;
}
 .bar::after {
	 content: "";
	 position: absolute;
	 left: 5px;
	 height: 100%;
	 width: 8px;
	 background: black;
}
 .bar:nth-of-type(odd)::after {
	 width: 12.7894736842px;
}
 .bar:nth-of-type(1) {
	 transform: translate(-50%, -50%) rotate(-42deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-42deg);
	 -moz-transform: translate(-50%, -50%) rotate(-42deg);
}
 .bar:nth-of-type(2) {
	 transform: translate(-50%, -50%) rotate(-34deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-34deg);
	 -moz-transform: translate(-50%, -50%) rotate(-34deg);
}
 .bar:nth-of-type(3) {
	 transform: translate(-50%, -50%) rotate(-26deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-26deg);
	 -moz-transform: translate(-50%, -50%) rotate(-26deg);
}
 .bar:nth-of-type(4) {
	 transform: translate(-50%, -50%) rotate(-18deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-18deg);
	 -moz-transform: translate(-50%, -50%) rotate(-18deg);
}
 .bar:nth-of-type(5) {
	 transform: translate(-50%, -50%) rotate(-10deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-10deg);
	 -moz-transform: translate(-50%, -50%) rotate(-10deg);
}
 .bar:nth-of-type(6) {
	 transform: translate(-50%, -50%) rotate(-2deg);
	 -webkit-transform: translate(-50%, -50%) rotate(-2deg);
	 -moz-transform: translate(-50%, -50%) rotate(-2deg);
}
 .bar:nth-of-type(7) {
	 transform: translate(-50%, -50%) rotate(6deg);
	 -webkit-transform: translate(-50%, -50%) rotate(6deg);
	 -moz-transform: translate(-50%, -50%) rotate(6deg);
}
 .bar:nth-of-type(8) {
	 transform: translate(-50%, -50%) rotate(14deg);
	 -webkit-transform: translate(-50%, -50%) rotate(14deg);
	 -moz-transform: translate(-50%, -50%) rotate(14deg);
}
 .bar:nth-of-type(9) {
	 transform: translate(-50%, -50%) rotate(22deg);
	 -webkit-transform: translate(-50%, -50%) rotate(22deg);
	 -moz-transform: translate(-50%, -50%) rotate(22deg);
}
 .bar:nth-of-type(10) {
	 transform: translate(-50%, -50%) rotate(30deg);
	 -webkit-transform: translate(-50%, -50%) rotate(30deg);
	 -moz-transform: translate(-50%, -50%) rotate(30deg);
}
 .bar:nth-of-type(11) {
	 transform: translate(-50%, -50%) rotate(38deg);
	 -webkit-transform: translate(-50%, -50%) rotate(38deg);
	 -moz-transform: translate(-50%, -50%) rotate(38deg);
}
 .bar:nth-of-type(12) {
	 transform: translate(-50%, -50%) rotate(46deg);
	 -webkit-transform: translate(-50%, -50%) rotate(46deg);
	 -moz-transform: translate(-50%, -50%) rotate(46deg);
}
 .bar:nth-of-type(13) {
	 transform: translate(-50%, -50%) rotate(54deg);
	 -webkit-transform: translate(-50%, -50%) rotate(54deg);
	 -moz-transform: translate(-50%, -50%) rotate(54deg);
}
 .bar:nth-of-type(14) {
	 transform: translate(-50%, -50%) rotate(62deg);
	 -webkit-transform: translate(-50%, -50%) rotate(62deg);
	 -moz-transform: translate(-50%, -50%) rotate(62deg);
}
 .bar:nth-of-type(15) {
	 transform: translate(-50%, -50%) rotate(70deg);
	 -webkit-transform: translate(-50%, -50%) rotate(70deg);
	 -moz-transform: translate(-50%, -50%) rotate(70deg);
}
 .bar:nth-of-type(16) {
	 transform: translate(-50%, -50%) rotate(78deg);
	 -webkit-transform: translate(-50%, -50%) rotate(78deg);
	 -moz-transform: translate(-50%, -50%) rotate(78deg);
}
 .bar:nth-of-type(17) {
	 transform: translate(-50%, -50%) rotate(86deg);
	 -webkit-transform: translate(-50%, -50%) rotate(86deg);
	 -moz-transform: translate(-50%, -50%) rotate(86deg);
}
 .bar:nth-of-type(18) {
	 transform: translate(-50%, -50%) rotate(94deg);
	 -webkit-transform: translate(-50%, -50%) rotate(94deg);
	 -moz-transform: translate(-50%, -50%) rotate(94deg);
}
 .bar:nth-of-type(19) {
	 transform: translate(-50%, -50%) rotate(102deg);
	 -webkit-transform: translate(-50%, -50%) rotate(102deg);
	 -moz-transform: translate(-50%, -50%) rotate(102deg);
}
 .bar:nth-of-type(20) {
	 transform: translate(-50%, -50%) rotate(110deg);
	 -webkit-transform: translate(-50%, -50%) rotate(110deg);
	 -moz-transform: translate(-50%, -50%) rotate(110deg);
}
 .bar:nth-of-type(21) {
	 transform: translate(-50%, -50%) rotate(118deg);
	 -webkit-transform: translate(-50%, -50%) rotate(118deg);
	 -moz-transform: translate(-50%, -50%) rotate(118deg);
}
 .bar:nth-of-type(22) {
	 transform: translate(-50%, -50%) rotate(126deg);
	 -webkit-transform: translate(-50%, -50%) rotate(126deg);
	 -moz-transform: translate(-50%, -50%) rotate(126deg);
}
 .bar:nth-of-type(23) {
	 transform: translate(-50%, -50%) rotate(134deg);
	 -webkit-transform: translate(-50%, -50%) rotate(134deg);
	 -moz-transform: translate(-50%, -50%) rotate(134deg);
}
 .bar:nth-of-type(24) {
	 transform: translate(-50%, -50%) rotate(142deg);
	 -webkit-transform: translate(-50%, -50%) rotate(142deg);
	 -moz-transform: translate(-50%, -50%) rotate(142deg);
}
 .bar:nth-of-type(25) {
	 transform: translate(-50%, -50%) rotate(150deg);
	 -webkit-transform: translate(-50%, -50%) rotate(150deg);
	 -moz-transform: translate(-50%, -50%) rotate(150deg);
}
 .bar:nth-of-type(26) {
	 transform: translate(-50%, -50%) rotate(158deg);
	 -webkit-transform: translate(-50%, -50%) rotate(158deg);
	 -moz-transform: translate(-50%, -50%) rotate(158deg);
}
 .bar:nth-of-type(27) {
	 transform: translate(-50%, -50%) rotate(166deg);
	 -webkit-transform: translate(-50%, -50%) rotate(166deg);
	 -moz-transform: translate(-50%, -50%) rotate(166deg);
}
 .bar:nth-of-type(28) {
	 transform: translate(-50%, -50%) rotate(174deg);
	 -webkit-transform: translate(-50%, -50%) rotate(174deg);
	 -moz-transform: translate(-50%, -50%) rotate(174deg);
}
 .bar:nth-of-type(29) {
	 transform: translate(-50%, -50%) rotate(182deg);
	 -webkit-transform: translate(-50%, -50%) rotate(182deg);
	 -moz-transform: translate(-50%, -50%) rotate(182deg);
}
 .bar:nth-of-type(30) {
	 transform: translate(-50%, -50%) rotate(190deg);
	 -webkit-transform: translate(-50%, -50%) rotate(190deg);
	 -moz-transform: translate(-50%, -50%) rotate(190deg);
}
 .bar:nth-of-type(31) {
	 transform: translate(-50%, -50%) rotate(198deg);
	 -webkit-transform: translate(-50%, -50%) rotate(198deg);
	 -moz-transform: translate(-50%, -50%) rotate(198deg);
}
 .bar:nth-of-type(32) {
	 transform: translate(-50%, -50%) rotate(206deg);
	 -webkit-transform: translate(-50%, -50%) rotate(206deg);
	 -moz-transform: translate(-50%, -50%) rotate(206deg);
}
 .bar:nth-of-type(33) {
	 transform: translate(-50%, -50%) rotate(214deg);
	 -webkit-transform: translate(-50%, -50%) rotate(214deg);
	 -moz-transform: translate(-50%, -50%) rotate(214deg);
}
 .num {
	 font-family: Arial;
   font-weight: bold;
	 text-align: center;
	 font-size: 12px;
	 position: absolute;
}
 .num:nth-of-type(1) {
	 top: 30px;
	 left: -35px;
}
 .num:nth-of-type(2) {
	 top: 7px;
	 left: -45px;
}
 .num:nth-of-type(3) {
	 top: -18px;
	 left: -42px;
}
 .num:nth-of-type(4) {
	 top: -40px;
	 left: -29px;
}
 .num:nth-of-type(5) {
	 top: -45px;
	 left: -4px;
}
 .num:nth-of-type(6) {
	 top: -40px;
	 left: 20px;
}
 .num:nth-of-type(7) {
	 top: -25px;
	 left: 40px;
}
 .num:nth-of-type(8) {
	 top: 2px;
	 left: 43.75px;
}
 .num:nth-of-type(9) {
	 top: 31.724137931px;
	 left: 36.9230769231px;
}
 #mileage {
	 padding-top: 100px;
}
 #box {
	 width: 35px;
	 height: 20px;
	 background: black;
	 display: inline;
	 color: rgba(200, 255, 0, 0.8);
	 line-height: 1.2em;
	 text-align: right;
	 padding-right: 0.325em;
	 box-sizing: border-box;
	 font-family: consolas;
	 font-size: 1.3em;
	 margin-left: 1em;
   padding-left:5px;
}
 #miles {
	 line-height: 25px;
	 margin-left: 0.325em;
	 font-family: Arial;
	 font-size: 1em;
   display: inline;
}
 #red-bar {
	 width: 200%;
	 height: 200%;
	 background: white;
	 border-radius: 100% 0 0;
	 transform: translate(-101%, -61.7%) rotate(28deg);
	 -webkit-transform: translate(-101%, -61.7%) rotate(28deg);
	 -moz-transform: translate(-101%, -61.7%) rotate(28deg);
}
 #red-bar::before {
	 content: "";
	 background-color: white;
	 display: block;
	 width: 50%;
	 height: 50%;
	 position: absolute;
	 bottom: 0;
	 right: 0;
	 transform: translate(86%, -22.5%) rotate(97deg);
	 -webkit-transform: translate(86%, -22.5%) rotate(97deg);
	 -moz-transform: translate(86%, -22.5%) rotate(97deg);
}
 #speed, #brake {
	 text-align: center;
	 line-height: 100px;
	 font-family: Oswald, Arial, Verdana, sans-serif;
	 font-size: 1.3em;
	 width: 100px;
	 height: 100px;
	 margin-right: 10px;
	 background: gray;
	 z-index: 9;
	 cursor: pointer;
	 transform: translate(-300px, -50%);
	 -webkit-transform: translate(-300px, -50%);
	 -moz-transform: translate(-300px, -50%);
}
 #speed {
	 transform: translate(200px, -50%);
	 -webkit-transform: translate(200px, -50%);
	 -moz-transform: translate(200px, -50%);
}



/*XXXXXXXXXXXXXXXXXXXXXXXXXXXX*/


.show_more{
  display:inline-block;
  padding:0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  text-transform:uppercase;
  font-weight:400;
  font-size:1.6vw;
  color:#FFFFFF;
  background-color:#3369ff;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
}
.show_more:active{
 top:0.1em;
}

.leaflet-popup-content-wrapper, .leaflet-popup-content
{
  width:100% !important;
  height:10vh !important;
  margin:0 !important;
}

.popup-fixed {
  position: fixed;
  top: 0vh !important;
  left: 0 !important;
  right: 0 !important;
  width:100vw !important;
  bottom:0 !important;
  transform: none !important;
  background-color: white;
  margin: 0 !important;
  border-radius: 0;


}

.popup-fixed .leaflet-popup-tip-container {
  display: none;
}

.popup-fixed .leaflet-popup-content-wrapper {
  border-radius: 0;
}


#ztm_attrib
{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  height:14px;
  padding-top:2px;
  background-color: rgba(255,255,255,1);
  z-index:1000;
  font-size:10px;
  font-family:Arial;
  padding-left:15px;
}
.leaflet-container {
    background: black !important;
}

#map
{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

.leaflet-control-layers-list span
{
  font-size: 20px;
}

.leaflet-control-layers-selector
{
  transform: scale(1.5);
}

.leaflet-control-layers-list
{
  width:40vw;
  padding:0;
}

.leaflet-control-layers-overlays
{
  display: grid;
  grid-template: repeat(3,1fr) / repeat(3, 1fr);
  margin:0;
  gap: 5px 5px;
}

.leaflet-control-layers-overlays label
{
  margin:0;
  border: solid 1px black;
  border-radius: 2px;
  height: 40px;
  display:block;
}

.leaflet-control-layers-overlays label {
    position:relative;
    cursor:pointer;
}
.leaflet-control-layers-overlays label [type="checkbox"] {
    display:none;
}




.leaflet-control-layers-overlays span
{
  background:#e6e6e6;
  color: #2e2e2e;
  display: block;
  width:100%;
  height:100%;
  text-align:center;
  font-size: 25px;
  line-height: 40px;
}

.leaflet-control-layers-overlays :checked + span {
    background:#3b3b3b;
    color: #e6e7eb;
    display: block;
    width:100%;
    height:100%;
    text-align:center;
    font-size: 25px;
    line-height: 40px;
}
